* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif
}

:root {
    --image-size: 150px;
    --job-color: rgb(131, 131, 243);
    --hover-color: rgb(65, 65, 247);
}

body {
    background-color: azure;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

h1 {
    margin-bottom: 10px;
}

.separator {
    min-height: 4px;
    min-width: 90px;
    margin-bottom: 60px;
    background-color: blue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    min-height: 400px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px -2px gray;
    padding: 20px 20px;
    background-color: rgb(248, 255, 255);
}

section img {
    max-width: var(--image-size);
    max-height: var(--image-size);
    min-width: var(--image-size);
    min-height: var(--image-size);
    margin-bottom: 20px;
    border: 5px solid var(--job-color);
    border-radius: 100%;
    background-color: inherit;
}

section .name {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}

section .job {
    font-size: 15px;
    color: var(--job-color);
}

section p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: grey;
}

section .navigator {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bolder;
    color: var(--job-color);
    text-align: center;
    word-spacing: 30px;
}

section .navigator #left {
    cursor: pointer;
}

section .navigator #left:hover {
    color: var(--hover-color);
}

section .navigator #right {
    cursor: pointer;
}

section .navigator #right:hover {
    color: var(--hover-color);
}

section button {
    min-width: 100px;
    min-height: 30px;
    border: 1px solid var(--job-color);
    border-radius: 10px;
    background-color: azure;
    color: var(--job-color);
    cursor: pointer;
    transition: all 0.5s ease;
}

section button:hover {
    background-color: var(--job-color);
    color: black;
}

@media screen and (max-width: 768px) {

    :root {
        --image-size: 120px;
    }

    section {
        max-width: 350px;
        min-height: 500px;

    }

    section p {
        margin-top: 22px;
        margin-bottom: 20px;
        font-size: 15px;
        min-height: 220px;
    }

    section .navigator {
        margin-bottom: 30px;
        font-size: 30px;
        word-spacing: 40px;
    }
}