:root {
    --img-width: 18px;
    --text-color: #49A6E9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    box-shadow: 0 0 30px -10px gray;
    background-color: white;
}

nav .judul {
    font-size: 30px;
    font-weight: bold;
    word-spacing: 3px;
}

nav .judul span {
    text-shadow: -1px 3px 3px gray;
}

nav .judul #addict {
    color: var(--text-color);
}

nav .realnav {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

nav .realnav a {
    font-size: 16px;
    color: rgb(63, 63, 63);
    text-decoration: none;
    letter-spacing: 4px;
    transition: 300ms all ease;
}

nav .realnav a:hover {
    color: var(--text-color);
}

nav .socmed {
    display: flex;
    justify-content: space-around;
    width: 160px;
    max-width: 160px;
}

nav .socmed div {
    max-width: var(--img-width);
    max-height: var(--img-width);
    cursor: pointer;
}

nav .socmed img {
    max-width: var(--img-width);
    max-height: var(--img-width);
}

nav .socmed img:hover {
    transform: scale(1.5);
}

nav .burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav .burger div {
    min-height: 3px;
    min-width: 20px;
    background-color: var(--text-color);
    margin: 2px;
}

@media screen and (max-width: 768px) {

    nav {
        justify-content: space-between;
        min-width: 100%;
        position: fixed;
    }

    nav .judul {
        margin-left: 20px;
    }

    nav .socmed {
        display: none;
    }

    nav .realnav {
        display: none;
    }

    .act {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        left: 0px;
        top: 70px;
        min-width: 100%;
    }

    nav .act a {
        padding: 15px 25px;
        font-size: 16px;
        color: rgb(63, 63, 63);
        min-width: 100%;
        min-height: 50px;
        text-decoration: none;
        letter-spacing: 4px;
    }

    nav .act a:hover {
        color: var(--text-color);
        background-color: rgba(0, 0, 255, 0.288);
    }

    nav .act a {
        display: block;
    }

    nav .burger {
        display: flex;
        margin-right: 20px;
        transition: all 0.5s ease;
    }

    nav .burger:hover {
        transform: rotate(90deg);
    }

    nav .burger:hover div {
        background-color: black;
    }
}